.section__banner {
    display: flex;
    background: #E4ECF8;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.banner__text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>div {
        &>h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 43px;
            color: #000000;
            max-width: 600px;
            margin: 0 auto;
        }


    }
}

.list__text {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: start;
        font-weight: 300;
        font-size: 22px;
        line-height: 1.2;
        max-width: 500px;

        & li {
            position: relative;
            margin-bottom: 8px;
        }

        & li::before {
            content: "";
            position: absolute;
            width: 15px;
            height: 12px;
            left: -20px;
            top: 8px;
            background-image: url("../../assets/img/7701b5906d98121fe79a9a1488cf04b8.svg");
        }
    }
}