.container {
    margin: 100px auto;
    max-width: 1000px;
    color: #000000;
    text-align: center;
    &>h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 46px;
        line-height: 56px;
        padding-bottom: 20px;
        border-bottom: 1px solid #50B848;
    }
    &>p {
        margin-top: 16px;
        font-weight: 400;
        font-size: 40px;
    }
}

@media screen and (max-width: 885px) {
    .container {
        margin: 50px 30px;
        &>h1 {
            font-size: 30px;
        }
        &>p {
            font-size: 20px;
        }
    }
}