.header {}

.header__top {
    display: flex;
    justify-content: space-between;
    padding: 24px 64px;

    &>ul {
        display: flex;
        width: 100%;
        list-style: none;
        color: #8d8d8d;
        font-size: 12px;
        font-weight: 400;
        align-items: center;
        text-transform: uppercase;
        justify-content: end;

        &>li {
            display: flex;
            margin-right: 24px;
        }
    }
}

.header__logo {
    margin-right: 64px;

    &>img {
        width: 160px;
        height: 26px;
    }
}

.header__btn {
    font-size: 12px;
    min-height: 38px;
    color: #01000c;
    background-color: transparent;
    border: 1px solid #50b848;
    padding: 0 16px;
    border-radius: 8px;
    transition: border 0.3s ease;

    &:hover {
        border-color: #01000c;
    }
}